<%= render partial: 'shared/navbar' %>

<div class="banner">
    <%= image_tag "image.jpg", alt: "photo1", class:"round-img" %>
  <div class="name-card">
    <h1>Nolwein Delsaut</h1>
  </div>
    <h2>Web Designer & web developement</h2>
    <p><i class="fa-solid fa-quote-right" style="color: #FFD43B;"></i>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.🌻<i class="fa-solid fa-quote-right" style="color: #FFD43B;"></i></p>
</div>


<h3 id="portfolio">Portfolio</h3>

<%= render partial: 'shared/carrousel' %>

<div class="container-form" id="contact">
  <h3>Contact</h3>
  <div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Email address</label>
    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
  </div>
  <div class="mb-3">
    <label for="exampleFormControlTextarea1" class="form-label">Example textarea</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
  </div>
  <p class="btn btn-warning"><a href="mailto:emilien_leborgne@icloud.com">Contactez-moi</a></p>
</div>

<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    This footer is made with <i class="fas fa-heart"></i> at Le Wagon
  </div>
</div>
